.c-list2 {
  $root: &;
  display: flex;
  flex-direction: column;

  &__link {
    padding: 16px 0;
    display: flex;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }

    &__img {
      width: 32px;
      display: inline-block;

      & + #{$root}__link {
        &__txt {
          margin-left: 16px;
        }
      }
    }

    &__txt {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
    }
  }
}

.c-list3 {
  display: flex;
  align-items: center;

  &__item {
    margin-left: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      margin-left: 0;
    }
  }
}
